@font-face {
  font-family: 'KG Second Chances Sketch';
  src: url('../fonts/KGSecondChancesSketch.eot');
  src: local('KG Second Chances Sketch'), local('KGSecondChancesSketch'),
  url('../fonts/KGSecondChancesSketch.eot?#iefix') format('embedded-opentype'),
  url('../fonts/KGSecondChancesSketch.woff2') format('woff2'),
  url('../fonts/KGSecondChancesSketch.woff') format('woff'),
  url('../fonts/KGSecondChancesSketch.ttf') format('truetype'),
  url('../fonts/KGSecondChancesSketch.svg#KGSecondChancesSketch') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KG Second Chances Solid';
  src: url('../fonts/KGSecondChancesSolid.eot');
  src: local('KG Second Chances Solid'), local('KGSecondChancesSolid'),
  url('../fonts/KGSecondChancesSolid.eot?#iefix') format('embedded-opentype'),
  url('../fonts/KGSecondChancesSolid.woff2') format('woff2'),
  url('../fonts/KGSecondChancesSolid.woff') format('woff'),
  url('../fonts/KGSecondChancesSolid.ttf') format('truetype'),
  url('../fonts/KGSecondChancesSolid.svg#KGSecondChancesSolid') format('svg');
  font-weight: normal;
  font-style: normal;
}
